@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<form>
    <label>키<input type="text" name="key" @bind="key" @bind:event="oninput" /></label>
    <label>URL<input type="text" name="destination" @bind="destination" @bind:event="oninput" /></label>
</form>

<button @onclick="Submit">클릭하시오</button>


@code {
    private bool isLoading { get; set; } = false;

    private string key { get; set; }
    private string destination { get; set; }
    private string partitionKey { get; set; }

    async Task Submit()
    {
        if (isLoading) return;

        try
        {
            isLoading = true;
            using var context = new SendMeContext();

            var address = new Address()
            {
                Key = key,
                Destination = destination,
            };

            Console.WriteLine(address);

            var all = await context.Addresses.AddAsync(address);
            Console.WriteLine(all);
            await context.SaveChangesAsync();
        }
        finally
        {
            isLoading = false;

        }

    }
}